[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
cchardet = "*"
python-dotenv = "*"
stem = "*"
pysocks = "*"
toripchanger = "*"
flask = "2.0.3"
apscheduler = "*"
psutil = "*"
pyvimeo = "*"
selenium = "*"
urllib3 = "1.26.6"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
