[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
cchardet = "*"
python-dotenv = "*"
stem = "*"
pysocks = "*"
toripchanger = "*"
flask = "*"
apscheduler = "*"
psutil = "*"
pygit2 = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
